{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1 style="text-align: center">Bine ai venit la Cofetăria IOANA</h1>
            <img src="{{ asset('logo_small.png') }}" alt="Cofetatia IOANA" class="img-responsive" />
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 32px; }

    #wrapper {  margin: 1em auto; max-width: 800px; width: 95%; }
    #container {
        top: 50%;
        left: 50%;
        width:30em;
        height:10em;
        margin-top: -13em; /*set to a negative number 1/2 of your height*/
        margin-left: -17em; /*set to a negative number 1/2 of your width*/
        position:fixed;
        border-radius: 10px;
        padding: 2em;
        background: #FFF;
    }
    img {
        margin:0 auto;
        display: block;
    }
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
